@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&family=Walter+Turncoat&display=swap");

/* Colors */
:root {
  --primary-color: #00d9c0;
  --secondary-color: #ff4365;
  --white: #fffff3;
  --black: #030301;
  --brown: #b7ad99;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-size: 2em;
  color: var(--black);
  font-family: "Ubuntu", sans-serif;
}

/* Button */
.button {
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: black;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.btn--play {
  height: 2.1em;
  width: 70%;
  margin: 1em;
  font-size: 0.8em;
}

.btn__correct:hover {
  border: solid 1px rgba(255, 255, 255, 0.2);
  background: var(--primary-color);
  color: var(--white);
}

.btn__wrong:hover {
  border: solid 1px rgba(255, 255, 255, 0.2);
  background: var(--secondary-color);
  color: var(--white);
}

/* Hangman Container*/
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Title */
.title--wrapper {
  text-align: center;
  margin: 1em 0;
}

/* Figure */
.figure--container {
  margin-top: 1em;
  fill: transparent;
  stroke: var(--black);
  stroke-width: 4px;
  stroke-linecap: round;
}

/* Notification */
.notification--wrapper {
  text-align: center;
}

.notification--wrapper h3 {
  margin-bottom: 0.5em;
}

/* Hidden Word */
.word--wrapper {
  display: flex;
  margin: 0 0 1em 0;
  font-family: "Walter Turncoat", cursive;
}

.word--wrapper__item {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0 0.25em 0 0;
}

/* Keyboard */
.keyboard--wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto 2em auto;
}
.btn--keys {
  height: 2.8em;
  width: 6%;
  margin: 0.1875em;
  font-size: 1em;
}

.btn--keys:active {
  background: var(--brown);
}
