@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&family=Walter+Turncoat&display=swap");
/* Colors */
:root {
  --primary-color: #ff4365;
  --white: #fffff3;
  --black: #030301;
  --brown: #b7ad99;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-size: 2em;
  line-height: 2em;
  color: var(--black);
  font-family: "Ubuntu", sans-serif;
}

/* Button */
.button {
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: black;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.btn--play {
  height: 2.1em;
  width: 10em;
  margin: 1em;
  font-size: 0.8em;
}

.btn--play:hover {
  background: var(--primary-color);
  color: var(--white);
}

.btn--keys {
  height: 2.8em;
  width: 6%;
  margin: 0.1875em;
  font-size: 0.8em;
}

.btn--keys:active {
  background: var(--brown);
}

.btn--keys:disabled {
  background: var(--brown);
}
/* Hangman Container*/
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Title */
.title--wrapper {
  text-align: center;
  margin: 1em 0;
}

.title--wrapper h1 {
  margin-bottom: 0.5em;
}

/* Hero */

.hero {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

/* Figure */
.figure--container {
  fill: transparent;
  stroke: var(--black);
  stroke-width: 4px;
  stroke-linecap: round;
}

/* Hidden Word */
.word--wrapper {
  display: flex;
  flex-direction: column;
}

.word--wrapper__guess {
  font-size: 0.8em;
}

.word--wrapper__hidden {
  margin-top: auto;
  display: flex;
  font-family: "Walter Turncoat", cursive;
}

.word--wrapper__hidden p {
  border-bottom: 3px solid var(--black);
  display: inline-flex;
  font-size: 1.6em;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin: 0 0.25em 0 0;
  height: 1.5em;
  width: 1.1em;
}

/* Notification */
.notification--wrapper {
  text-align: center;
  width: 80%;
}

.notification--wrapper h2 {
  margin-bottom: 0.5em;
}

.notification--wrapper__item {
  padding-left: 1em;
  font-style: italic;
}

/* Keyboard */
.keyboard--wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto 2em auto;
}
